This notebook drops any missing values and save to a new csv file
This code is adapted from group member Juhee Sung-Schenck

In [1]:
# import libraries

import pandas as pd
import numpy as np
import string as str

In [2]:

df = pd.read_csv('../data/final.csv')

df.tail()

,id,text,user_name,date,lat,long
19995,1215422901693730816,Kevin Hart says he wanted to support Dave Burd...,thesurfreport,2020-01-09 23:59:35+00:00,36.543496,-121.176274
19996,1215422901689765888,jshdhd,Shadyfishermann,2020-01-09 23:59:35+00:00,35.352956,-120.515419
19997,1215422901681192961,Are you learning work ni. Of course,hoy_man,2020-01-09 23:59:35+00:00,35.117108,-119.801041
19998,1215422901664604160,Ah mds KKKKKKKKKKK,viviacr1,2020-01-09 23:59:35+00:00,35.690766,-120.241575
19999,1215422901656215554,send him to the jail already,foolhao,2020-01-09 23:59:35+00:00,38.560907,-119.455975

In [3]:
df.isnull().sum()

id           0
text         1
user_name    0
date         0
lat          0
long         0
dtype: int64

In [4]:
# drop any rows without text

df.dropna(axis = 0, inplace = True)

# check if dropped as intended (20_000 - 232 = 10768)

df.shape

(19999, 6)

In [5]:
df.to_csv('../data/cleaned.csv', index = False)