In [4]:
# import libraries

import pandas as pd
import numpy as np
import string as str

In [2]:
# read in the dataset

df = pd.read_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/final.csv')

df.head()

,id,text,user_name,date,lat,long
0,1241152458912673794,TK Kirkland's Reaction To Earthquake's Ex-Wife...,DarkDon_,2020-03-20 23:59:40+00:00,40.738154,-112.101609
1,1241152416214474753,That sound you hear is NOT an earthquake. It’s...,ReallyInID,2020-03-20 23:59:30+00:00,42.242918,-112.103304
2,1241152284827856896,he said he stocked up on ammo cause he knew Th...,folsworth,2020-03-20 23:58:58+00:00,40.982162,-112.104020
3,1241152178695405570,"If an earthquake separates CA, WA, and OR from...",Colony14,2020-03-20 23:58:33+00:00,42.729481,-112.107004
4,1241152072818364416,"#Sismo M 4 SOUTH OF BALI, #INDONESIA. 20-03-20...",MonitorSismico,2020-03-20 23:58:08+00:00,41.044996,-112.103864

In [3]:
# check for nulls

df.isnull().sum()

id             0
text         456
user_name      0
date           0
lat            0
long           0
dtype: int64

In [7]:
# drop any rows without text

df.dropna(axis = 0, inplace = True)

# check if dropped as intended (40_000 - 456 = 39_544)

df.shape

(39544, 6)

In [14]:
df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/cleaned.csv', index = False)